body {
  margin: 0;
}

.italic {
  font-style: italic;
}

.light {
  background-color: white;
  border-color: black;
}

.dark {
  background-color: black;
  border-color: white;
}

.tall {
  height: 50px;
}

.short {
  height: 25px;
}

.rounded {
  border-top-left-radius: 999px;
  border-top-right-radius: 999px;
}

.polka-dot {
  background-image: radial-gradient(#000000 20%, transparent 20%),
    radial-gradient(#ffffff 20%, transparent 20%);
  background-size: 20px 20px;
}

.polka-dot.dark {
  background-image: radial-gradient(#ffffff 20%, transparent 20%),
    radial-gradient(#000000 20%, transparent 20%);
}
