body {
  margin: 0;
}

html {
  /* prevent scrollbar from hiding and re-appearing */
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

.italic {
  font-style: italic;
}

.light {
  background-color: white;
  border-color: black;
}

.dark {
  background-color: black;
  border-color: white;
}

.tall {
  height: 100px;
}

.short {
  height: 50px;
}

.rounded {
  border-top-left-radius: 999px;
  border-top-right-radius: 999px;
}

.polka-dot {
  background-image: radial-gradient(#000000 30%, transparent 30%),
    radial-gradient(#ffffff 30%, transparent 30%);
  background-size: 10px 10px;
}

.polka-dot.dark {
  background-image: radial-gradient(#ffffff 20%, transparent 20%),
    radial-gradient(#000000 20%, transparent 20%);
}

main {
  padding: 0 8px;
}
